<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<style>
    .main .container {
        max-width: 2800px; /* Adjust as needed */
    }
    #gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    #gallery .thumb {
        flex: 1 1 calc(25% - 10px); /* 3 columns with gap */
        margin: 0;
    }
    #gallery .thumb img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
</style>

<div class="section main">
    <iframe allowfullscreen="allowfullscreen" allow="clipboard-write" scrolling="no" class="fp-iframe" style="border: 1px solid lightgray; width: 100%; height: 600px;" src={{ page.heyzine_src }}></iframe>
    <div class="container">
        {{ page.body | markdownify }}
        <div id="gallery">
            {% assign k = page.name.size | minus: 3 %}
            {% assign n = page.name | slice: 0, k %}
            {% assign coll = site.collections | where: "label", n | first %}

            {% if coll and coll.files %}
                {% assign list = coll.files | sort: "basename" %}
                {% for image in coll.files %}
                <a class="thumb" href="{{ coll.label | append: '/' | append: image.name | relative_url }}">
                    <img class="lozad" data-src="{{ coll.label | append: '/' | append: image.name | relative_url }}" alt="{{ image.basename }}" />
                </a>
                {% endfor %}
            {% else %}
                <p>No images found for collection: {{ n }}</p>
                <p>Debug info: Collection label: {{ coll.label }}, Collection size: {{ coll.files.size }}</p>
            {% endif %}
        </div>
    </div>
</div>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include footer.html %}
</body>
</html>