<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<style>
    .main .container {
        max-width: 2800px; /* Adjust as needed */
    }
    #gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    #gallery .thumb {
        flex: 1 1 calc(25% - 10px); /* 3 columns with gap */
        margin: 0;
    }
    #gallery .thumb img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
</style>

<div class="section main">
    <div class="container">
        {{ page.body | markdownify }}
        <div id="gallery">
            {% assign k = page.name.size | minus: 3 %}
            {% assign n = page.name | slice: 0, k %}
            {% assign coll = site.collections | where: "label", n | first %}
            {% assign list = coll.files | sort: "basename" %}
            {% for image in coll.files %}
            <a class="thumb" href="{{ coll.label | append: '/' | append: image.name | relative_url }}">
                <img class="lozad" data-src="{{ coll.label | append: '/' | append: image.name | relative_url }}" alt="{{ image.basename }}" />
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- <script>
    // Initialize LightGallery
    lightGallery(document.getElementById('gallery'), {
        selector: '.thumb',
        thumbnail: true,
        animateThumb: true,
        showThumbByDefault: false
    });
</script> -->

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% include footer.html %}
</body>
</html>